<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.joshsera"
      android:versionCode="5" android:versionName="1.2.0">
      <uses-sdk android:minSdkVersion="3" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".RemoteDroid"
                  android:label="@string/app_name" android:screenOrientation="user">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name="PadActivity" android:screenOrientation="user"
    		  android:windowSoftInputMode="stateVisible|adjustPan"
    ></activity>
<activity android:name="PrefsActivity" android:screenOrientation="portrait"></activity>


</application>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.STATUS_BAR"></uses-permission>
<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
</manifest> 